[submodule ".registry"]
	path = .registry
	url = https://github.com/oxfordihtm/oxfordihtm.r-universe.dev
	branch = HEAD
[submodule "africalaws"]
	path = africalaws
	url = https://github.com/OxfordIHTM/africalaws
[submodule "aurora"]
	path = aurora
	url = https://github.com/OxfordIHTM/aurora
[submodule "codeditr"]
	path = codeditr
	url = https://github.com/OxfordIHTM/codeditr
[submodule "codigo"]
	path = codigo
	url = https://github.com/OxfordIHTM/codigo
[submodule "deposits"]
	path = deposits
	url = https://github.com/ropenscilabs/deposits
	registered = false
[submodule "oxcgrt"]
	path = oxcgrt
	url = https://github.com/OxfordIHTM/oxcgrt
[submodule "oxthema"]
	path = oxthema
	url = https://github.com/OxfordIHTM/oxthema
[submodule "pactr"]
	path = pactr
	url = https://github.com/OxfordIHTM/pactr
