[submodule ".registry"]
	path = .registry
	url = https://github.com/oxfordihtm/oxfordihtm.r-universe.dev
	branch = HEAD
[submodule "codigo"]
	path = codigo
	url = https://github.com/OxfordIHTM/codigo
[submodule "oxfordtheme"]
	path = oxfordtheme
	url = https://github.com/OxfordIHTM/oxfordtheme
